{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "proseWrap": "preserve",
  "requirePragma": false,
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": ["packages//src//.{ts,tsx,js,jsx}"],
      "options": {
        "semi": false,
        "singleQuote": true,
        "jsxSingleQuote": true,
        "trailingComma": "es5"
      }
    },
    {
      "files": [".json", ".jsonc"],
      "options": {
        "singleQuote": false,
        "trailingComma": "none"
      }
    },
    {
      "files": [".md", ".mdx"],
      "options": {
        "proseWrap": "always",
        "printWidth": 100
      }
    },
    {
      "files": [".yml", ".yaml"],
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": [".css", ".scss", "*.less"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
