# Supabase Configuration
VITE_SUPABASE_URL=https://auth.yggchat.com
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3dmxta2tkbndtcGdvbXN1bmViIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc5NDg5MTgsImV4cCI6MjA3MzUyNDkxOH0.ffk2xIH5kDRwKXlVN5WPkaj8BZp9PYm4NxfkruowfFw
# Environment Mode
VITE_ENVIRONMENT=electron
VITE_API_URL=https://webdrasil-production.up.railway.app/api
# VITE_API_URL=http://localhost:3003/api
VITE_STRIPE_PUBLISHABLE_KEY=pk_live_51SDbd0HNd48TBB1YsnPGuRrYT66VqChYt4wDRRivB6QgANyjgBJhIKFac09Jp51bouRfu9Q3967fHJscFwOZN9lB00AqVacddI
SUPABASE_URL=https://auth.yggchat.com
